<div class="tabs-container">
  <div class="tabs-header">
    @for (tab of tabs; track tab.id;) {
      <button
        class="tab-button"
        [class.active]="activeTab === tab.id"
        (click)="selectTab(tab.id)">
        {{ tab.label }}
      </button>
    }
  </div>
  <div class="tabs-content">
    @for (tab of tabs; track tab;) {
      <div class="tab-panel">
        @if (activeTab === tab.id) {
          <div>
            <div class="container text-center">
              @if (showCarEngine() && activeTab==1) {
                <app-car-config-engine-menu [carEngines]="baseConfig.carEngines"></app-car-config-engine-menu>
              }
              @if (showCarColor()&& activeTab==2) {
                <app-car-config-color-menu [carColor]="baseConfig.carColors"></app-car-config-color-menu>
              }
              @if (showCarRims() && activeTab==3) {
                <app-car-config-rim-menu [carRims]="baseConfig.carRims"></app-car-config-rim-menu>
              }
              @if (showSpecialEquipment()&& activeTab==4) {
                <app-car-config-special-equipment-menu
                  [specialEquipment]="baseConfig.specialEquipment"></app-car-config-special-equipment-menu>
              }
            </div>
          </div>
        }
      </div>
    }
  </div>

</div>
