<div class="container text-center border border-primary mt-2">
  <h5>Car Information</h5>
  <div class="row">
    <div class="col">
      Engine Model:
    </div>
    @if (this.engineData?.productId) {
      <div class="col">
        {{ engineData?.model }}
      </div>
    } @else {
      <div class="col">
        Please choose an engine first !!
      </div>
    }
  </div>
  <div class="row">
    <div class="col">
      Colorname:
    </div>
    @if (colorData?.productId) {
      <div class="col">
        {{ colorData?.colorName }}
      </div>
    } @else {
      <div class="col">
        Please choose a color first !!
      </div>
    }
  </div>
  <div class="row">
    <div class="col">
      Rim :
    </div>
    @if (rimData?.productId) {
      <div class="col">
        {{ rimData?.rimName }}
      </div>
    } @else {
      <div class="col">
        Please choose a rim first !!
      </div>
    }
  </div>
  <div class="row">
    <div class="col">
      Special Equipments:
    </div>
    @if (showSpecialEquipment()) {
      <div class="col">
        {{ generateChoosenText()}}
      </div>
    } @else {
      <div class="col">
        Please choose your 5 Equipments first !!
      </div>
    }
    @if (showSpecialEquipment()) {
      @for (equipment of specialEquipment; track equipment.productId) {
        <div class="row">
          <div class="col">
          </div>
          <div class="col">
            {{ equipment.equipmentName }}
          </div>
        </div>
      }
    }
  </div>
</div>

