
  <div class="row border border-primary color-menu-container">
  </div>

  @if (carColorBase.length >= 0) {
    <app-car-color-menu-sub [carColorSub]="carColorBase" [titleName]="carColorBaseTitleName"
                            (selectionChange)="forwardSelection($event)"></app-car-color-menu-sub>
  }
  @if (carColorGlossy.length >= 0) {
    <app-car-color-menu-sub [carColorSub]="carColorGlossy"
                            [titleName]="carColorGlossyTitleName"
                            (selectionChange)="forwardSelection($event)"
    ></app-car-color-menu-sub>
  }
  @if (carColorMatte.length >= 0) {
    <app-car-color-menu-sub [carColorSub]="carColorMatte"
                            [titleName]="carColorMatteTitleName" (selectionChange)="forwardSelection($event)">
    </app-car-color-menu-sub>
  }




