<div
  class="grid-item slide"
  [class.selected]="isSelected"
  (click)="onClick()"
>
  <div class="container text-center">
    <div class="row">


      <app-car-config-colorview-circle [fillColor]="colorCodeHex"
                                       [materialType]="value?.materialType"></app-car-config-colorview-circle>
    </div>
  </div>
  <div class="container text-lg-start">
    <div class="row">
      <div class="col">
        <div class="title">Colorname:</div>
      </div>
      <div class="col">
        <div class="description">{{ value?.colorName }}</div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="title">Material Type:</div>
      </div>
      <div class="col">
        <div class="description">{{ value?.materialType }}</div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="title">Description</div>
      </div>
      <div class="col">
        <div class="description">{{ value?.description }}</div>
        <div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="title">Price:</div>
      </div>
      <div class="col">
        <div class="description">{{ toCurrencyFormat(value?.price) }}</div>
        <div>
        </div>
      </div>
    </div>
  </div>
</div>
