<div class="card border border-primary">
  <h6>{{ 'orders.detailTitle' | transloco }}</h6>
  <div class="container text-lg-start">
    <div class="row">
      <div class="col">
        <h5>{{ 'orders.idLabel' | transloco }}: {{ orderInfo.carOrderId }}</h5>
      </div>
    </div>
    <div class="row">
      <div class="col">
        {{ 'orders.createdBy' | transloco }}:
      </div>
      <div class="col">{{ orderInfo.orderUser?.userName }}</div>
    </div>
    <div class="row">
      <div class="col">
        {{ 'orders.createdAt' | transloco }}:
      </div>
      <div class="col">{{ orderInfo.createdAt | date: 'dd.MM.yyyy HH:mm' }}</div>
    </div>
    <div class="row">
      <div class="col">
        {{ 'orders.updatedAt' | transloco }}:
      </div>
      <div class="col">{{ orderInfo.updatedAt | date: 'dd.MM.yyyy HH:mm' }}</div>
    </div>
    <app-car-config-order-overview-status [title]="engineTitle"
                                          [productName]="orderInfo.carEngineOrder?.carEngine?.model"
                                          [orderStatus]="orderInfo.carEngineOrder?.orderStatus"></app-car-config-order-overview-status>
    <app-car-config-order-overview-status [title]="colorTitle"
                                          [productName]="orderInfo.carColorOrder?.carColor?.colorName"
                                          [orderStatus]="orderInfo.carColorOrder?.orderStatus"></app-car-config-order-overview-status>
    <app-car-config-order-overview-status [title]="rimTitle"
                                          [productName]="orderInfo.carRimOrder?.carRim?.model"
                                          [orderStatus]="orderInfo.carRimOrder?.orderStatus"></app-car-config-order-overview-status>
    <app-car-config-order-overview-status-equipment [title]="specialEquipmentTitle"
                                                    [specialEquipmentOrders]="orderInfo.specialEquipmentOrders"></app-car-config-order-overview-status-equipment>
  </div>
</div>
