
    <div class="me-md-4 mb-2 mb-md-0">
      <app-car-config-labeled-input
        label="Username"
        type="text"
        placeholder="Enter your username"
        (valueChange)="userNameChange($event)">
      </app-car-config-labeled-input>
    </div>
    <div class="me-md-4 mb-2 mb-md-0">
      <app-car-config-labeled-input
        label="Email"
        type="text"
        placeholder="Enter your Email"
        (valueChange)="userEmailChange($event)">
      </app-car-config-labeled-input>
    </div>


