<div class="border border-primary grid-container">
  <div class="row bg-light">

    <h4>Choose the special equipment</h4>
  </div>
  <div class="row">
    <ul class="item-list">
      @for (equipment of specialEquipment; track equipment.equipmentName) {
        <li (click)="onSelect(equipment)" class="list-item">
          <div class="marker-container">
            @if (isSelected(equipment)) {
              <div class="selected-marker"></div>
            }
          </div>

          <div>
            <h4>{{ equipment.equipmentName }}</h4>
            <p>{{ equipment.description }}</p>
            <p>{{ toCurrencyFormat(equipment.price) }}</p>
          </div>
        </li>
      }
    </ul>
  </div>
</div>
