<div class="border border-primary">
  <div class="row">

    <div class="col-12">
      <div class="slider-wrapper-parent">
        <div #container class="">
          @for (carRim of carRims; track carRim.productId) {
            <app-car-config-rim-menu-item
              [value]="carRim"
              [isSelected]="carRim === selectedValue"
              (itemSelected)="onItemSelected($event)"
            ></app-car-config-rim-menu-item>
          }
        </div>
      </div>
    </div>
  </div>
</div>
